.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ffffff;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  text-align: start;
  font-size: small;
  /* display: flex; */
  height: fit-content;
  width: 30vh;
  margin-inline-start: 2vh;
  margin-inline-end: 2vh;
  margin-top: 2vh;
}

.App-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-inline-start: 10vh;
  padding-inline-end: 10vh;
  height: 100%;
  margin-bottom: 12vh;
}

.Item-Img {
  height: 25vh;
}

.App-footer {
  bottom: 0;
  position: fixed;
  text-align: center;
  padding-bottom: 5vh;
  height: 3vh;
  width: 100%;
  font-size: x-small;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
